.navContainer {
    display: flex;
    justify-content: center;
    height: 4rem;
    align-items: center;
    composes: third from "../../Assets/styles/colors.module.scss";
    border-bottom: 2px solid #393e46;
}
.navListWrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navLinks {
    composes: fourth from "../../Assets/styles/fonts.module.scss";
}

@media (min-width: 768px) {
    .navContainer {
        height: 6rem;
    }
}
